body {
    margin:0;
}
.main-container {
    display: flex;
    flex-direction: column;
    margin: none;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

/* Header style */

.header {
    color: #F9FAF8;
    display: flex;
}
.header-links {
    font-size: 18px;
    color: #e5e7eb;
}
.header-logo {
    font-size: 24px;
    font-weight: 800;
}

/* Common styles */
a {
    text-decoration: none;
    color: inherit;
    padding-left: 20px;
}

.header, .section-one {
    display:flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 5px 16% 5% 16%;
}

h2 {
    margin: 5px;
}
p {
    margin: 5px;
}
h5 {
    margin:0;
}


/* Section one styles */

.section-one {
    color: #F9FAF8;
}

.section-one-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    background-color: grey;
    width:50%;
    flex: 1;
}

.section-one-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-right: 30px;
    margin-top: 0;
    width:50%;
    flex-shrink: 1;
}
.section-one-no-emphasis {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: normal;
}

button {
    background-color: #3882f6;
    border: none;
    font-weight: 800;
    color: #e5e7eb;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 30px;
}

/* Section two styles */

.section-two {
    padding: 5px 16% 5% 16%;
}
.section-two-text {
    display:flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}
.section-two-images {
    display:flex;
    justify-content: center;
    gap: 30px;
}

.section {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.section .image {
    width: 150px;
    height: 150px;
    border-color: #3882f6;
    border-radius: 10px;
    border-style: solid;
}
.section p {
    text-align: center;
    width:150px;
    color: gray;
}

/* Section three styles */

.section-three {
    padding: 5% 16% 5% 16%;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}
.thor-quote {
    align-items: flex-start;
    flex: 1;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}
.signature {
    display:flex;
    justify-content:flex-end;
    font-weight: 800;
    font-size: 24px;
}

/* Section four styles */

.section-four {
    padding: 5% 16% 5% 16%;
}

.section-four-container-box {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 60px;
    background-color:#3882f6;
    border: none;
    border-radius: 10px;
    flex: 1;
}

.section-four-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:#e5e7eb;
    font-size: 24px;
}

.smaller-text {
    font-size: 12px;
}

.section-four-button {
    border: solid;
    border-color: #e5e7eb;
    border-radius: 10px;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    color:#e5e7eb;
    background-color: #1F2937;
    padding: 30px 60px;
}